.contenedor{
    display: flex;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.header__social{
    display: flex;
    gap: 10px;
}

