.contenedor {
    display: flex;
}
/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.header__social {
    display: flex;

}
/* body home */
.body__home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body__home__hi {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* body about */
.body__about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body__about__my{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* body skills */
.body__skills{
    display: flex;
    align-items: center;
    gap: 40px;
}
.body__skills > section{
display: flex;
justify-content: center;
}

.body__skills__experience{

    flex-direction: column;
    gap: 30px;
}


.body__skills__skills > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body__skills__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 5px;
}

.body__skills__skills1 > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.body__skills__list1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* formacion */

.body__study{
display: flex;
}
.body__study__ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.body__study__logos{
display: flex;
align-items: center;
justify-content: center;
}

.body__study__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
}
