.contenedor {
    display: flex;
}
/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.header__social {
    display: flex;

}
/* body home */
.body__home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body__home__hi {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* body about */
.body__about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body__about__my{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* body skills */
.body__skills{
    display: flex;
    align-items: center;
    gap: 100px;
}
.body__skills__skills{
    display: flex;
}


