*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: white;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.contenedor {
    width: 100%;
    height: 100vh;
    text-align: center;
}
.header{
    background: #181818;
    position: sticky;
}

.header__header{
    background: black;
    padding: 30px 10px;
}
.menu__title{
    text-decoration: none;
}
.menu__title img{
    width: 100px;
}
.menu__title h1{
    text-decoration: none;
    color: #fff;
    margin-top: 1px;
    font-size: 1.5rem;
}
.header__header p{
    font-family: 'Open Sans';
    color: #a5a5a5;
    font-size: 1rem;
    margin-top: 1rem;

}
.header__nav{
    width: 100%;
    border-top: 1px solid #282828;
}
.header__nav__list a{
    width: 100%;
    display: block;
    text-decoration: none;  
    color: #a0a0a0;
    border-bottom: 1px solid #282828;
    line-height: 4rem;
}
.header__social{
    height: 10rem;
    gap: 10px;
}
.header__social a{
    width: 100%;
    display: block;
    text-decoration: none;  
    color: #a0a0a0;
    line-height: 5rem;
}

.body{
    width: 100%;
    overflow: auto;
}  
.body>div{
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}
.body > div{
    padding: 0 100px 0 40px;
}
.body__home__hi{
    text-align: start
}
.body__home__hi h1{
    font-size: 5rem;
    font-weight: bold;
}
.body__home img{
    width: 220px;
}

/*body about */
.body__about__my{
    text-align: start;
    width: 50vw;
}
.body__about__my h1{
    font-size: 5rem;
    font-weight: bold;
}
.body__about img{
    width: 220px;
}

/* body skills */
.body__skills > section{
    height: 90vh;
}
.body__skills__experience{
    text-align: start;
    width: 46vw;
}

.body__skills__skills{
    width: 22vw;
}

.body__skills__skills1{
    width: 22vw;
}

.body__skills__experience h1{
    font-size: 5rem;
    font-weight: bold;
}

.body__skills__list{
    width: 100px;
    height: 100px;
    border: 1px solid #282828;
    padding: 10px;
}
.body__skills__list1{
    width: 300px;
    height: 300px;
    border: 1px solid #282828;
    padding: 20px;

    text-align: start;
}

.body__skills__list1 > h1{
    font-size: 2rem;
    font-weight: bold;
}

h2{
    font-size: 1.2rem;
}
h3{
    font-size: .8rem;
}

 
@media (max-width: 900px){
    .body__home__hi h1{
        font-size: calc(5vw);
    }
    .body__home img{
        width: calc(25vw);
    }
    .body__about img{
        width: calc(25vw);
    }
}




