*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.contenedor {
    width: 100%;
    height: 100vh;
    text-align: center;
}
.header__cellphone{
    display: none;
}
.header{
    background: #181818;
    position: sticky;
}

.header__header{
    background: black;
    padding: 30px 10px;
}
.menu__title{
    text-decoration: none;
}
.menu__title img{
    width: 100px;
}
.menu__title h1{
    text-decoration: none;
    color: #fff;
    margin-top: 1px;
    font-size: 1.5rem;
}
.menu__title h1:hover{
    color: #08fdd8;
}
.header__header p{
    font-family: 'Open Sans';
    color: #a5a5a5;
    font-size: 1rem;
    margin-top: 1rem;

}

.header__nav{
    width: 100%;
    border-top: 1px solid #282828;
}

.header__nav__list > a:hover{
    color: #08fdd8;

}

.social__list > a:hover{
    color: #08fdd8;
    
}

.header__nav__list > a{
    width: 100%;
    display: block;
    text-decoration: none;  
    color: #a0a0a0;
    border-bottom: 1px solid #282828;
    line-height: 4rem;
}
.header__social{
    height: 10rem;
}
.header__social a{
    width: 100%;
    display: block;
    text-decoration: none;  
    color: #a0a0a0;
    line-height: 5rem;
}

.body{
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}  
.body>div{
    height: 100vh;
    /* background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); */
    padding: 0 140px 0 70px;
}

.body__home__hi{
    text-align: start
}
.home__hi__h1{
    font-size: 5rem;
    font-weight: bold;
    display: table;
}

.home_span:hover {
    color: #08fdd8;
}
.home__img{
    padding-right: 10rem;
}
.home__img img{
    border-radius: 30px;
    border: 1px solid #0F2027;
    width: 280px;
    height: auto;
}

/*body about */
.body__about__my{
    text-align: start;
    width: 36vw;
}
.body__about__my h1{
    font-size: 5rem;
    font-weight: bold;
    color: #08fdd8;
}
.body__about__my p{
    font-size: 1.5rem;
}
.body__intereses{
    width: 40vw;
    height: 90vh;
}
.body__intereses h1{
    font-size: 2rem;
    font-weight: bold;
    color: #08fdd8;

}
.body__intereses__list{
    background: #203A43;
    width: 100px;
    height: 100px;
    border: 1px solid #282828;
    border-radius: 10px;
    padding: 10px;
}

/* body skills */
.body__skills > section{
    height: 90vh;
}
.body__skills__experience{
    text-align: start;
    width: 46vw;
}

.body__skills__skills{
    width: 22vw;
}

.body__skills__skills1{
    width: 22vw;
}

.body__skills__experience h1{
    font-size: 5rem;
    font-weight: bold;
    color: #08fdd8;
}
.body__skills__experience{
    font-size: 1.5rem;
}
.body__skills__list{
    width: 100px;
    height: 100px;
    border: 1px solid #282828;
    border-radius: 10px;
    padding: 10px;
    background: #203A43;
}
.body__skills__list1{
    width: 300px;
    height: 460px;
    border: 1px solid #282828;
    border-radius: 30px;
    padding: 20px;
    background: #0F2027;

    text-align: start;
}

.body__skills__list1 > h1{
    font-size: 2rem;
    font-weight: bold;
    color: #08fdd8;
}

h2{
    font-size: 1.5rem;
}
h3{
    font-size: .8rem;
}
/* formacion */
.body__study__curso{
    width: 39rem;
    height: 100vh;
}

.body__study__curso > h1{
    font-size: 5rem;
    font-weight: bold;
    text-align: start;
    color: #08fdd8;
}
.study__curso__div{
    width: 49vw;
    border: 1px solid #282828;
    border-radius: 30px;
    padding: 20px;
    background: #0F2027;
}
.study__curso__div > h2{
    padding-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: #08fdd8;
    text-align: start;
}
.body__study__fecha h2{
    font-size: 1.5rem;
    padding-bottom: 5px;
}
.body__study__curso__list{
    width: 350px;
    border: 1px solid #282828;
    border-radius: 30px;
    padding: 20px;
    background: #203A43;
    text-align: start;
 }
 .body__study__logos{
    width: 350px;
    height: 600px;
    border: 1px solid #282828;
    border-radius: 30px;
    padding: 20px;
    background: #0F2027;
 }
 .body__study__logos h1{

 font-size: 2rem;
    font-weight: bold;
    color: #08fdd8;
 }
.body__study__logos__ul{
    height: 90vh;
}
.body__study__logos__ul > li{
    background: white;
    width: 220px;
    height: 160px; 
    border: 1px solid white;
    border-radius: 10px;
}
.body__study__lista1 > img{
    width: 180px;
    padding: 20px 0;
}
.body__study__lista2 > img{
    width: 110px;
}
.body__study__fecha{
    padding-bottom: 30px;
    text-align: start;
}

/* proyectos */

.proyectos__sec{
    height: 100%;
}
.proyectos__sec > h1{
    font-size: 5rem;
    font-weight: bold;
    color: #08fdd8;
}
.proyectos__ul{
    padding-bottom: 100px;
}
.proyectos__list{
    border: 1px solid #282828;
    border-radius: 30px;
    padding: 20px;
    background: #0F2027;
}
.proyectos__list > img{
    width: 35vw;
    border-radius: 10px;
}
.input__btn{
    background: #08fdd8;
    color: #0F2027;
    width: 15vw;
    border: none;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 900;
}

/* contacto */
.body__contacto{

}
.contacto > h1{
    font-size: 5rem;
    font-weight: bold;
    color: #08fdd8;
}

.contacto__pdf{
    width: 15vw;
    background: #08fdd8;
    color: #0F2027;
    border: none;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 900;

    text-decoration: none;
}
.form{
    background: white;
    width: 90%;
    max-width: 500px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.form__field{
    width: 100%;
    display: grid;
    gap: 1em;
}
.form__container{
    width: 100%;
}
.input{
    width: 100%;
    padding: .8em 1em;
    outline: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}
.input__message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.input__button{
    background: #08fdd8;
    color: #0F2027;
    border: none;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 900;
}







